@inherits LayoutComponentBase


<div class="startupPgContainer">
    <div class="credentialsInput">
        <h1><b>Welcome</b></h1>

        <h3><b>Register Yourself</b></h3>
    </div>
    
    <img src="images/meta_monkeys_store.jpg"/>
    
    <article class="content px-4">
            @Body
    </article>
</div>