@inherits LayoutComponentBase

<div class="page">
    <main>
        <div id="startupImg">
            <img src="images/meta_monkeys_store.jpg" class="circle"/>
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
