@inherits LayoutComponentBase


<div class="page">
    <h1><b>Welcome</b></h1>

    <h3><b>Register Yourself</b></h3>
   <div id="startupImg">
            <img src="images/meta_monkeys_store.jpg" class="circle"/>
        </div>
        <article class="content px-4">
            @Body
    </article>
</div>
